<section class="s-block container veloura-faq">

    {% if component.veloura_faq_title %}
        <div class="veloura-faq__heading">
            <h2>{{ component.veloura_faq_title }}</h2>
        </div>
    {% endif %}

    {% for item in component.veloura_faq_items %}
        <div class="veloura-faq__item">

            <button
                type="button"
                class="veloura-faq__question"
                onclick="this.parentNode.classList.toggle('is-open')"
            >
                {{ item.veloura_faq_question }}
            </button>

            <div class="veloura-faq__answer">
                {{ item.veloura_faq_answer }}
            </div>

        </div>
    {% endfor %}

</section>