<section class="s-block container" style="padding:40px;background:#eee;">
  <h2 style="color:red;">FAQ Veloura يعمل</h2>

  {% for item in component.veloura_faq_items %}
    <div>
      <h3>{{ item.veloura_faq_question }}</h3>
      <p>{{ item.veloura_faq_answer }}</p>
    </div>
  {% endfor %}
</section>