<section class="s-block container veloura-faq" style="padding:40px;background:#eee;">
  <h2 style="color:red;">{{ component.veloura_faq_title }}</h2>

  {% for item in component.veloura_faq_items %}
    <div class="veloura-faq__item">
      <button type="button" class="veloura-faq__question">
        {{ item.veloura_faq_question }}
      </button>

      <div class="veloura-faq__answer">
        {{ item.veloura_faq_answer }}
      </div>
    </div>
  {% endfor %}
</section>