<section class="container">
  <div style="background:#111;color:#fff;padding:30px;margin:20px 0">
    <h2>PRO IMAGES TEST</h2>
    <p>Title: {{ title }}</p>
  </div>

  {% for item in items %}
    <div style="background:red;color:white;padding:20px;margin:10px">
      ITEM FOUND: {{ item.text }}
    </div>
  {% endfor %}
</section>