<section class="container">
  <div style="background:#111;color:#fff;padding:40px">
    <h2>Title: {{ title }}</h2>

    {% for item in collection %}
      <div style="background:red;color:white;padding:20px;margin-top:15px">
        <p>TEXT: {{ item.text }}</p>
        <p>URL: {{ item.url }}</p>
        <p>IMAGE: {{ item.image.url }}</p>
      </div>
    {% endfor %}
  </div>
</section>