<section class="s-block veloura-store-features container">
    
    <h2>{{ component.veloura_section_title }}</h2>

    <div>
        {% for item in component.veloura_features_collection %}
            <div>
                <h3>{{ item.veloura_feature_title }}</h3>
                <p>{{ item.veloura_feature_subtitle }}</p>
            </div>
        {% endfor %}
    </div>

</section>