{% if component.veloura_title_text or component.veloura_title_subtitle %}
<section class="s-block container veloura-title">
  <div class="veloura-title__inner">
    {% if component.veloura_title_text %}
      <h2 class="veloura-title__heading">
        {{ component.veloura_title_text }}
      </h2>
    {% endif %}

    {% if component.veloura_title_subtitle %}
      <p class="veloura-title__subtitle">
        {{ component.veloura_title_subtitle }}
      </p>
    {% endif %}
  </div>
</section>
{% endif %}