<section style="background:red;color:white;padding:40px;text-align:center">
  مكون روابط سريعة يعمل

  <pre style="direction:ltr;text-align:left;background:white;color:black;padding:20px;margin-top:20px">
{{ component|json_encode(constant('JSON_PRETTY_PRINT')) }}
  </pre>
</section>