<div class="veloura-popup is-active">
  <div class="veloura-popup__overlay"></div>

  <div class="veloura-popup__container">
    <div class="veloura-popup__box">

      <div class="veloura-popup__content">
        <h2>عرض خاص</h2>
        <p>هذا اختبار للبوب أب</p>

        <a href="#" class="veloura-popup__button">
          تسوق الآن
        </a>
      </div>

    </div>
  </div>
</div>