<section
  class="s-block veloura-spacer {{ component.veloura_spacer_custom_classes }}"
  style="
    --veloura-spacer-mobile: {{ component.veloura_spacer_mobile|default(60) }}px;
    --veloura-spacer-tablet: {{ component.veloura_spacer_enable_tablet ? component.veloura_spacer_tablet|default(60) : component.veloura_spacer_desktop|default(60) }}px;
    --veloura-spacer-desktop: {{ component.veloura_spacer_desktop|default(60) }}px;
  "
></section>